/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 28, 2026, 2:33:27 PM
    Author     : isak j
*/

section div {
    margin-top: 3em;
    margin-bottom: 3em;
}




