* {font-family: sans-serif}

body {
    font-family: Verdana, Arial, Helvetica, sans-seif;
}

a {
    font-weight: bold;
}

a:link{
    color: #9B59B6;
}

a:visted {
    color: #2880B9;
}

a:hover, a:focus {
    color: #2880B9;
}

/* Header */
img {
    float: left;
    width: 85px;
}
header {
    h2 {
    font-size: 200%;
    font-style: italic;
    color: #fe4d5b;
    text-indent: 25px;
    text-shadow: 1px 1px 1px black;
    }

    h3 {
        font-size: 125%;
        text-indent: 25px;
    }
}


/* Main */
main {    
    h1::first-letter {
        font-size: 200%;
    }
    h1 {
      font-size: 150%;
    }
    h2 {
        /* text-indent: 0px; */
        font-size: 125%;
        /* color: black; */
        /* font-style: normal; */
    }
    h3 {
        /* text-indent: 0px; */
        font-size: 110%;
    }
    ul {
        line-height: 150%
    }
}

/* Aside */

/* Footer */
footer {
    text-align: center;
    font-size: 90%;
}


