body {
    width: 1200px;
}

section {
    width: 980px;
}

nav button {
    width: 200px;
}

text {
    width: 280px;
}

legend {
    font-size: 110%;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
    padding: 10px;
}

fieldset {
    width: 100%;
}





